In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../datasets/MergedData.csv")
df

,Id,CourseNameShort,Academy,City,Languages,ProgrammeDuration,TuitionFees,ApplicationDeadline,IsCompleteOnlinePossible,BadgeLabel,SupportInternationalStudents,Subject,TypeOfElearning,From,To,Time,Frequency,Distance (km),city2,Jobs in City
0,8305,Computer Science,University Of Potsdam,potsdam,English,4 Semesters,NaN,<p>The Application Deadline Is 1 June.</p>,False,NaN,Welcome Event | Buddy Programme | Tutors | Acc...,Computer Science,NaN,potsdam,Berlin,22–26,2–3,26.14,potsdam,62.0
1,8305,Computer Science,University Of Potsdam,potsdam,English,4 Semesters,NaN,<p>The Application Deadline Is 1 June.</p>,False,NaN,Welcome Event | Buddy Programme | Tutors | Acc...,Computer Science,NaN,potsdam,Wildau,55–65,1,40.21,potsdam,62.0
2,8305,Computer Science,University Of Potsdam,potsdam,English,4 Semesters,NaN,<p>The Application Deadline Is 1 June.</p>,False,NaN,Welcome Event | Buddy Programme | Tutors | Acc...,Computer Science,NaN,potsdam,Bergholz-Rehbrücke,5–7,2,7.05,potsdam,62.0
3,4439,Computer Science,University Of Stuttgart,stuttgart,English,4 Semesters,Varied,<p>15 January For The Winter Semester Starting...,True,Partly Online,Welcome Event | Buddy Programme | Tutors | Acc...,Computer Science,"1,5,9,10,11,13",stuttgart,Tübingen,43–55,3,30.18,stuttgart,723.0
4,4439,Computer Science,University Of Stuttgart,stuttgart,English,4 Semesters,Varied,<p>15 January For The Winter Semester Starting...,True,Partly Online,Welcome Event | Buddy Programme | Tutors | Acc...,Computer Science,"1,5,9,10,11,13",stuttgart,Heilbronn,34–42,2,40.56,stuttgart,723.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,9595,Information Engineering,Technical University Of Munich,heilbronn,English,4 Semesters,NaN,<ul>\r\n\t<li>1 February To 31 May (winter Sem...,False,NaN,Null,Computer Science,NaN,heilbronn,Pforzheim,75–90,1,46.95,heilbronn,171.0
638,9595,Information Engineering,Technical University Of Munich,heilbronn,English,4 Semesters,NaN,<ul>\r\n\t<li>1 February To 31 May (winter Sem...,False,NaN,Null,Computer Science,NaN,heilbronn,Esslingen am Neckar,50–60,1,44.90,heilbronn,171.0
639,3724,Forest Information Technology (FIT),Eberswalde University For Sustainable Development,eberswalde,English,4 Semesters,NaN,<p>Non-EU And EU Applicants: 1 May For The Fol...,True,Partly Online,Welcome Event | Buddy Programme,Computer Science,"1,9,11,3,4,10",eberswalde,Berlin,34,1,45.12,eberswalde,0.0
640,3724,Forest Information Technology (FIT),Eberswalde University For Sustainable Development,eberswalde,English,4 Semesters,NaN,<p>Non-EU And EU Applicants: 1 May For The Fol...,True,Partly Online,Welcome Event | Buddy Programme,Computer Science,"1,9,11,3,4,10",eberswalde,Wildau¹,90–100,1,58.24,eberswalde,0.0
641,6981,Satellite Technology (SaTec),Julius-Maximilians-Universität Würzburg,würzburg,English,4 Semesters,NaN,<p>Tentatively 15 March For The Following Wint...,False,NaN,Welcome Event | Tutors | Visa Matters | Pick-U...,Computer Science,NaN,würzburg,Schweinfurt,22–26,2,36.44,würzburg,62.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 642 entries, 0 to 641
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Id                            642 non-null    int64
 1   CourseNameShort               642 non-null    object
 2   Academy                       642 non-null    object
 3   City                          642 non-null    object
 4   Languages                     642 non-null    object
 5   ProgrammeDuration             642 non-null    object
 6   TuitionFees                   220 non-null    object
 7   ApplicationDeadline           642 non-null    object
 8   IsCompleteOnlinePossible      642 non-null    bool
 9   BadgeLabel                    98 non-null     object
 10  SupportInternationalStudents  642 non-null    object
 11  Subject                       642 non-null    object
 12  TypeOfElearning               113 non-null    object
 13  From                          642 non-null    object
 14  To                            642 non-null    object
 15  Time                          642 non-null    object
 16  Frequency                     642 non-null    object
 17  Distance (km)                 642 non-null    float64
 18  city2                         632 non-null    object
 19  Jobs in City                  632 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(16)
memory usage: 96.0+ KB

In [3]:
new_df = df[['Id','CourseNameShort','Academy','City','Languages','ProgrammeDuration','TuitionFees','To','Time','Frequency','Distance (km)','Jobs in City']]

KeyError: "['Time', 'Frequency'] not in index"

In [4]:
print(df.columns.tolist())

['Id', 'CourseNameShort', 'Academy', 'City', 'Languages', 'ProgrammeDuration', 'TuitionFees', 'ApplicationDeadline', 'IsCompleteOnlinePossible', 'BadgeLabel', 'SupportInternationalStudents', 'Subject', 'TypeOfElearning', 'From', 'To', 'Time ', 'Frequency ', 'Distance (km)', 'city2', 'Jobs in City']

In [6]:
df.columns = df.columns.str.strip()

In [7]:
new_df = df[['Id','CourseNameShort','Academy','City','Languages','ProgrammeDuration','TuitionFees','To','Time','Frequency','Distance (km)','Jobs in City']]

In [8]:
new_df

,Id,CourseNameShort,Academy,City,Languages,ProgrammeDuration,TuitionFees,To,Time,Frequency,Distance (km),Jobs in City
0,8305,Computer Science,University Of Potsdam,potsdam,English,4 Semesters,NaN,Berlin,22–26,2–3,26.14,62.0
1,8305,Computer Science,University Of Potsdam,potsdam,English,4 Semesters,NaN,Wildau,55–65,1,40.21,62.0
2,8305,Computer Science,University Of Potsdam,potsdam,English,4 Semesters,NaN,Bergholz-Rehbrücke,5–7,2,7.05,62.0
3,4439,Computer Science,University Of Stuttgart,stuttgart,English,4 Semesters,Varied,Tübingen,43–55,3,30.18,723.0
4,4439,Computer Science,University Of Stuttgart,stuttgart,English,4 Semesters,Varied,Heilbronn,34–42,2,40.56,723.0
...,...,...,...,...,...,...,...,...,...,...,...,...
637,9595,Information Engineering,Technical University Of Munich,heilbronn,English,4 Semesters,NaN,Pforzheim,75–90,1,46.95,171.0
638,9595,Information Engineering,Technical University Of Munich,heilbronn,English,4 Semesters,NaN,Esslingen am Neckar,50–60,1,44.90,171.0
639,3724,Forest Information Technology (FIT),Eberswalde University For Sustainable Development,eberswalde,English,4 Semesters,NaN,Berlin,34,1,45.12,0.0
640,3724,Forest Information Technology (FIT),Eberswalde University For Sustainable Development,eberswalde,English,4 Semesters,NaN,Wildau¹,90–100,1,58.24,0.0
641,6981,Satellite Technology (SaTec),Julius-Maximilians-Universität Würzburg,würzburg,English,4 Semesters,NaN,Schweinfurt,22–26,2,36.44,62.0

# Remove "Semesters" and convert to numeric

In [9]:
new_df['ProgrammeDuration'] = new_df['ProgrammeDuration'].str.replace(" Semesters", "").astype(int)

ValueError: invalid literal for int() with base 10: '3, 4'

###Convert programm duration

In [10]:
import re

def process_duration(duration):

    semesters = [int(num) for num in re.findall(r'\d+', duration)]

    return sum(semesters) / len(semesters) if semesters else None

new_df['ProgrammeDuration'] = new_df['ProgrammeDuration'].apply(process_duration)

new_df['ProgrammeDuration'] = new_df['ProgrammeDuration'].astype(int)

print(new_df['ProgrammeDuration'])

0      4
1      4
2      4
3      4
4      4
      ..
637    4
638    4
639    4
640    4
641    4
Name: ProgrammeDuration, Length: 642, dtype: int64

C:\Users\gaura\AppData\Local\Temp\ipykernel_11248\2224929605.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['ProgrammeDuration'] = new_df['ProgrammeDuration'].apply(process_duration)
C:\Users\gaura\AppData\Local\Temp\ipykernel_11248\2224929605.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['ProgrammeDuration'] = new_df['ProgrammeDuration'].astype(int)

# Handle Missing and 'Varied' values in TuitionFees

In [11]:

new_df['TuitionFees'] = new_df['TuitionFees'].fillna(0)

new_df['TuitionFees'] = new_df['TuitionFees'].replace('Varied', np.nan).astype(float)

C:\Users\gaura\AppData\Local\Temp\ipykernel_11248\1797728511.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['TuitionFees'] = new_df['TuitionFees'].fillna(0)

ValueError: could not convert string to float: '6,450'

In [12]:
new_df['TuitionFees'] = new_df['TuitionFees'].astype(str).str.replace(',', '')

new_df['TuitionFees'] = new_df['TuitionFees'].fillna(0)

new_df['TuitionFees'] = new_df['TuitionFees'].replace('Varied', np.nan)

C:\Users\gaura\AppData\Local\Temp\ipykernel_11248\2839662799.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['TuitionFees'] = new_df['TuitionFees'].astype(str).str.replace(',', '')
C:\Users\gaura\AppData\Local\Temp\ipykernel_11248\2839662799.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['TuitionFees'] = new_df['TuitionFees'].fillna(0)
C:\Users\gaura\AppData\Local\Temp\ipykernel_11248\2839662799.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['TuitionFees'] = new_df['TuitionFees'].replace('Varied', np.nan)

In [13]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 642 entries, 0 to 641
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 642 non-null    int64
 1   CourseNameShort    642 non-null    object
 2   Academy            642 non-null    object
 3   City               642 non-null    object
 4   Languages          642 non-null    object
 5   ProgrammeDuration  642 non-null    int64
 6   TuitionFees        559 non-null    object
 7   To                 642 non-null    object
 8   Time               642 non-null    object
 9   Frequency          642 non-null    object
 10  Distance (km)      642 non-null    float64
 11  Jobs in City       632 non-null    float64
dtypes: float64(2), int64(2), object(8)
memory usage: 60.3+ KB

###Tuition fees missing data

In [14]:
missing_tuition_fees = new_df[new_df['TuitionFees'].isnull()]
print(missing_tuition_fees)

grouped_analysis = new_df.groupby('Academy')['TuitionFees'].apply(lambda x: x.isnull().sum())
print(grouped_analysis)

total_missing = grouped_analysis[grouped_analysis > 0].sum()
print(f"Total missing TuitionFees count: {total_missing} thus {642 - total_missing} can see in info")

       Id   CourseNameShort                  Academy       City Languages  \
3    4439  Computer Science  University Of Stuttgart  stuttgart   English
4    4439  Computer Science  University Of Stuttgart  stuttgart   English
5    4439  Computer Science  University Of Stuttgart  stuttgart   English
6    4439  Computer Science  University Of Stuttgart  stuttgart   English
7    4439  Computer Science  University Of Stuttgart  stuttgart   English
..    ...               ...                      ...        ...       ...
612  5634  Machine Learning   University Of Tübingen   tübingen   English
613  5634  Machine Learning   University Of Tübingen   tübingen   English
614  5634  Machine Learning   University Of Tübingen   tübingen   English
615  5634  Machine Learning   University Of Tübingen   tübingen   English
616  5634  Machine Learning   University Of Tübingen   tübingen   English

     ProgrammeDuration TuitionFees                        To    Time  \
3                    4         NaN                  Tübingen   43–55
4                    4         NaN                 Heilbronn   34–42
5                    4         NaN                 Nürtingen   25–30
6                    4         NaN                Reutlingen   40–50
7                    4         NaN                 Pforzheim   35–45
..                 ...         ...                       ...     ...
612                  4         NaN                Reutlingen   10–15
613                  4         NaN                Riedlingen  90–120
614                  4         NaN                 Pforzheim  90–120
615                  4         NaN       Esslingen am Neckar   50–60
616                  4         NaN  Geislingen an der Steige  80–100

    Frequency  Distance (km)  Jobs in City
3           3          30.18         723.0
4           2          40.56         723.0
5           2          20.44         723.0
6           2          31.94         723.0
7           2          37.19         723.0
..        ...            ...           ...
612         4          12.08          56.0
613         1          51.38          56.0
614         1          48.62          56.0
615         2          31.00          56.0
616         1          58.92          56.0

[83 rows x 12 columns]
Academy
Aalen University                                                               0
Bauhaus-Universität Weimar                                                     0
Bielefeld University                                                           0
Bingen Technical University Of Applied Sciences                                0
Carl Von Ossietzky University Of Oldenburg                                     0
                                                                              ..
University Of Stuttgart                                                       14
University Of Tübingen                                                         7
Universität Hamburg                                                            0
Universität Zu Lübeck                                                          0
Westsächsische Hochschule Zwickau - University Of Applied Sciences Zwickau     0
Name: TuitionFees, Length: 77, dtype: int64
Total missing TuitionFees count: 83 thus 559 can see in info

# University with some fees

In [15]:

print(grouped_analysis[grouped_analysis > 0])

Academy
Frankfurt School Of Finance & Management                             12
Heilbronn University Of Applied Sciences                              5
Hochschule Für Technik Stuttgart - University Of Applied Sciences     7
Offenburg University Of Applied Sciences                              4
Ruhr-Universität Bochum                                              16
Ulm University                                                        6
Ulm University Of Applied Sciences                                    6
University Of Freiburg                                                4
University Of Konstanz                                                2
University Of Stuttgart                                              14
University Of Tübingen                                                7
Name: TuitionFees, dtype: int64

In [16]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 642 entries, 0 to 641
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 642 non-null    int64
 1   CourseNameShort    642 non-null    object
 2   Academy            642 non-null    object
 3   City               642 non-null    object
 4   Languages          642 non-null    object
 5   ProgrammeDuration  642 non-null    int64
 6   TuitionFees        559 non-null    object
 7   To                 642 non-null    object
 8   Time               642 non-null    object
 9   Frequency          642 non-null    object
 10  Distance (km)      642 non-null    float64
 11  Jobs in City       632 non-null    float64
dtypes: float64(2), int64(2), object(8)
memory usage: 60.3+ KB

# Convert Time to Numeric

In [17]:

new_df['Time'] = new_df['Time'].str.split('–').apply(lambda x: (int(x[0]) + int(x[1])) / 2)

ValueError: invalid literal for int() with base 10: 'Approximately 90'

In [18]:
new_df['Time']

0       22–26
1       55–65
2         5–7
3       43–55
4       34–42
        ...
637     75–90
638     50–60
639        34
640    90–100
641     22–26
Name: Time, Length: 642, dtype: object

###Convert time

In [6]:
import re

def process_time(value):
    value = re.sub(r'\(.*?\)', '', value).strip()

    nums = [int(num) for num in re.findall(r'\d+', value)]
    
    return sum(nums) / len(nums) if nums else None

new_df['Time'] = new_df['Time'].astype(str).apply(process_time)

print(new_df['Time'])

NameError: name 'new_df' is not defined

In [20]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 642 entries, 0 to 641
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 642 non-null    int64
 1   CourseNameShort    642 non-null    object
 2   Academy            642 non-null    object
 3   City               642 non-null    object
 4   Languages          642 non-null    object
 5   ProgrammeDuration  642 non-null    int64
 6   TuitionFees        559 non-null    object
 7   To                 642 non-null    object
 8   Time               642 non-null    float64
 9   Frequency          642 non-null    object
 10  Distance (km)      642 non-null    float64
 11  Jobs in City       632 non-null    float64
dtypes: float64(3), int64(2), object(7)
memory usage: 60.3+ KB

###Dataframe display option

In [25]:
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')
pd.reset_option('display.width')

In [22]:
pd.set_option('display.max_rows', None) 
pd.set_option('display.max_columns', None) 
pd.set_option('display.width', None)

# Frequency

In [21]:
new_df['Frequency']

0      2–3
1        1
2        2
3        3
4        2
      ...
637      1
638      1
639      1
640      1
641      2
Name: Frequency, Length: 642, dtype: object

###Convert Frequency

In [22]:
import re

def process_frequency(value):
    if 'direct trains daily' in value.lower():
        return 0.5
    
    nums = [float(num) for num in re.findall(r'\d+', value)]
    
    return sum(nums) / len(nums) if nums else None

new_df['Frequency'] = new_df['Frequency'].astype(str).apply(process_frequency)

print(new_df['Frequency'])

0      2.5
1      1.0
2      2.0
3      3.0
4      2.0
      ...
637    1.0
638    1.0
639    1.0
640    1.0
641    2.0
Name: Frequency, Length: 642, dtype: float64

C:\Users\gaura\AppData\Local\Temp\ipykernel_11248\2236284695.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Frequency'] = new_df['Frequency'].astype(str).apply(process_frequency)

In [23]:
new_df['Frequency']

0      2.5
1      1.0
2      2.0
3      3.0
4      2.0
      ...
637    1.0
638    1.0
639    1.0
640    1.0
641    2.0
Name: Frequency, Length: 642, dtype: float64

In [24]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 642 entries, 0 to 641
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 642 non-null    int64
 1   CourseNameShort    642 non-null    object
 2   Academy            642 non-null    object
 3   City               642 non-null    object
 4   Languages          642 non-null    object
 5   ProgrammeDuration  642 non-null    int64
 6   TuitionFees        559 non-null    object
 7   To                 642 non-null    object
 8   Time               642 non-null    float64
 9   Frequency          642 non-null    float64
 10  Distance (km)      642 non-null    float64
 11  Jobs in City       632 non-null    float64
dtypes: float64(4), int64(2), object(6)
memory usage: 60.3+ KB

###Convert Job

In [25]:

print(new_df[new_df['Jobs in City'].isnull()])

       Id                                    CourseNameShort  \
219  3696                       Software Systems Engineering
220  3696                       Software Systems Engineering
230  7636                                       Data Science
231  7636                                       Data Science
326  4874      MSc Data Analytics And Decision Science (DDS)
327  4874      MSc Data Analytics And Decision Science (DDS)
362  9198  MSc In Applied Health Informatics & Digital Me...
363  9198  MSc In Applied Health Informatics & Digital Me...
441  9228                                Information Systems
442  9228                                Information Systems

                                      Academy    City       Languages  \
219                    RWTH Aachen University  aachen         English
220                    RWTH Aachen University  aachen         English
230                    RWTH Aachen University  aachen         English
231                    RWTH Aachen University  aachen         English
326                    RWTH Aachen University  aachen         English
327                    RWTH Aachen University  aachen         English
362                    RWTH Aachen University  aachen         English
363                    RWTH Aachen University  aachen         English
441  FH Aachen University Of Applied Sciences  aachen  English,German
442  FH Aachen University Of Applied Sciences  aachen  English,German

     ProgrammeDuration TuitionFees               To  Time  Frequency  \
219                  4           0  Mönchengladbach  49.0       11.0
220                  4           0           Jülich  48.0        1.0
230                  4           0  Mönchengladbach  49.0       11.0
231                  4           0           Jülich  48.0        1.0
326                  4        7500  Mönchengladbach  49.0       11.0
327                  4        7500           Jülich  48.0        1.0
362                  4        6650  Mönchengladbach  49.0       11.0
363                  4        6650           Jülich  48.0        1.0
441                  4           0  Mönchengladbach  49.0       11.0
442                  4           0           Jülich  48.0        1.0

     Distance (km)  Jobs in City
219          52.68           NaN
220          25.38           NaN
230          52.68           NaN
231          25.38           NaN
326          52.68           NaN
327          25.38           NaN
362          52.68           NaN
363          25.38           NaN
441          52.68           NaN
442          25.38           NaN

In [26]:

grouped_analysis = new_df.groupby('City')['Jobs in City'].apply(lambda x: x.isnull().sum())
print(grouped_analysis)

City
aachen          10
aalen            0
amberg           0
augsburg         0
bamberg          0
                ..
ulm              0
weimar           0
wolfenbüttel     0
würzburg         0
zwickau          0
Name: Jobs in City, Length: 73, dtype: int64

In [27]:
new_df['Jobs in City'] = new_df['Jobs in City'].fillna(177)

print(new_df[new_df['Jobs in City'] == 177])

       Id                                    CourseNameShort  \
219  3696                       Software Systems Engineering
220  3696                       Software Systems Engineering
230  7636                                       Data Science
231  7636                                       Data Science
326  4874      MSc Data Analytics And Decision Science (DDS)
327  4874      MSc Data Analytics And Decision Science (DDS)
362  9198  MSc In Applied Health Informatics & Digital Me...
363  9198  MSc In Applied Health Informatics & Digital Me...
441  9228                                Information Systems
442  9228                                Information Systems

                                      Academy    City       Languages  \
219                    RWTH Aachen University  aachen         English
220                    RWTH Aachen University  aachen         English
230                    RWTH Aachen University  aachen         English
231                    RWTH Aachen University  aachen         English
326                    RWTH Aachen University  aachen         English
327                    RWTH Aachen University  aachen         English
362                    RWTH Aachen University  aachen         English
363                    RWTH Aachen University  aachen         English
441  FH Aachen University Of Applied Sciences  aachen  English,German
442  FH Aachen University Of Applied Sciences  aachen  English,German

     ProgrammeDuration TuitionFees               To  Time  Frequency  \
219                  4           0  Mönchengladbach  49.0       11.0
220                  4           0           Jülich  48.0        1.0
230                  4           0  Mönchengladbach  49.0       11.0
231                  4           0           Jülich  48.0        1.0
326                  4        7500  Mönchengladbach  49.0       11.0
327                  4        7500           Jülich  48.0        1.0
362                  4        6650  Mönchengladbach  49.0       11.0
363                  4        6650           Jülich  48.0        1.0
441                  4           0  Mönchengladbach  49.0       11.0
442                  4           0           Jülich  48.0        1.0

     Distance (km)  Jobs in City
219          52.68         177.0
220          25.38         177.0
230          52.68         177.0
231          25.38         177.0
326          52.68         177.0
327          25.38         177.0
362          52.68         177.0
363          25.38         177.0
441          52.68         177.0
442          25.38         177.0

C:\Users\gaura\AppData\Local\Temp\ipykernel_11248\1549379774.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Jobs in City'] = new_df['Jobs in City'].fillna(177)

In [28]:
new_df

,Id,CourseNameShort,Academy,City,Languages,ProgrammeDuration,TuitionFees,To,Time,Frequency,Distance (km),Jobs in City
0,8305,Computer Science,University Of Potsdam,potsdam,English,4,0,Berlin,24.0,2.5,26.14,62.0
1,8305,Computer Science,University Of Potsdam,potsdam,English,4,0,Wildau,60.0,1.0,40.21,62.0
2,8305,Computer Science,University Of Potsdam,potsdam,English,4,0,Bergholz-Rehbrücke,6.0,2.0,7.05,62.0
3,4439,Computer Science,University Of Stuttgart,stuttgart,English,4,NaN,Tübingen,49.0,3.0,30.18,723.0
4,4439,Computer Science,University Of Stuttgart,stuttgart,English,4,NaN,Heilbronn,38.0,2.0,40.56,723.0
...,...,...,...,...,...,...,...,...,...,...,...,...
637,9595,Information Engineering,Technical University Of Munich,heilbronn,English,4,0,Pforzheim,82.5,1.0,46.95,171.0
638,9595,Information Engineering,Technical University Of Munich,heilbronn,English,4,0,Esslingen am Neckar,55.0,1.0,44.90,171.0
639,3724,Forest Information Technology (FIT),Eberswalde University For Sustainable Development,eberswalde,English,4,0,Berlin,34.0,1.0,45.12,0.0
640,3724,Forest Information Technology (FIT),Eberswalde University For Sustainable Development,eberswalde,English,4,0,Wildau¹,95.0,1.0,58.24,0.0
641,6981,Satellite Technology (SaTec),Julius-Maximilians-Universität Würzburg,würzburg,English,4,0,Schweinfurt,24.0,2.0,36.44,62.0

In [29]:
jobs = pd.read_csv("../datasets/UniForMe_Jobs.xls")
jobs = jobs[['city','no of jobs']]
jobs

                     city  no of jobs
0                 potsdam        62.0
1                    kiel       111.0
2               stuttgart       723.0
3              deggendorf        25.0
4               paderborn        92.0
..                    ...         ...
156               Görlitz        12.0
157                Zittau         1.0
158              Tharandt         0.0
159  Neuburg an der Donau         1.0
160                   NaN         NaN

[161 rows x 2 columns]

###Neighbour Cities

In [30]:

new_df['To'] = new_df['To'].str.lower()
jobs['city'] = jobs['city'].str.lower()

merged_df = new_df.merge(jobs, left_on='To', right_on='city', how='left')

merged_df.rename(columns={'no of jobs': 'Jobs in neighbour cities'}, inplace=True)

print(merged_df)

       Id                      CourseNameShort  \
0    8305                     Computer Science
1    8305                     Computer Science
2    8305                     Computer Science
3    4439                     Computer Science
4    4439                     Computer Science
..    ...                                  ...
637  9595              Information Engineering
638  9595              Information Engineering
639  3724  Forest Information Technology (FIT)
640  3724  Forest Information Technology (FIT)
641  6981         Satellite Technology (SaTec)

                                               Academy        City Languages  \
0                                University Of Potsdam     potsdam   English
1                                University Of Potsdam     potsdam   English
2                                University Of Potsdam     potsdam   English
3                              University Of Stuttgart   stuttgart   English
4                              University Of Stuttgart   stuttgart   English
..                                                 ...         ...       ...
637                     Technical University Of Munich   heilbronn   English
638                     Technical University Of Munich   heilbronn   English
639  Eberswalde University For Sustainable Development  eberswalde   English
640  Eberswalde University For Sustainable Development  eberswalde   English
641            Julius-Maximilians-Universität Würzburg    würzburg   English

     ProgrammeDuration TuitionFees                   To  Time  Frequency  \
0                    4           0               berlin  24.0        2.5
1                    4           0               wildau  60.0        1.0
2                    4           0   bergholz-rehbrücke   6.0        2.0
3                    4         NaN             tübingen  49.0        3.0
4                    4         NaN            heilbronn  38.0        2.0
..                 ...         ...                  ...   ...        ...
637                  4           0            pforzheim  82.5        1.0
638                  4           0  esslingen am neckar  55.0        1.0
639                  4           0               berlin  34.0        1.0
640                  4           0              wildau¹  95.0        1.0
641                  4           0          schweinfurt  24.0        2.0

     Distance (km)  Jobs in City                 city  \
0            26.14          62.0               berlin
1            40.21          62.0               wildau
2             7.05          62.0   bergholz-rehbrücke
3            30.18         723.0             tübingen
4            40.56         723.0            heilbronn
..             ...           ...                  ...
637          46.95         171.0            pforzheim
638          44.90         171.0  esslingen am neckar
639          45.12           0.0               berlin
640          58.24           0.0                  NaN
641          36.44          62.0          schweinfurt

     Jobs in neighbour cities
0                      1062.0
1                         1.0
2                         0.0
3                        56.0
4                       171.0
..                        ...
637                      20.0
638                       7.0
639                    1062.0
640                       NaN
641                      11.0

[642 rows x 14 columns]

C:\Users\gaura\AppData\Local\Temp\ipykernel_11248\3052500427.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['To'] = new_df['To'].str.lower()

In [31]:
merged_df.head()

,Id,CourseNameShort,Academy,City,Languages,ProgrammeDuration,TuitionFees,To,Time,Frequency,Distance (km),Jobs in City,city,Jobs in neighbour cities
0,8305,Computer Science,University Of Potsdam,potsdam,English,4,0,berlin,24.0,2.5,26.14,62.0,berlin,1062.0
1,8305,Computer Science,University Of Potsdam,potsdam,English,4,0,wildau,60.0,1.0,40.21,62.0,wildau,1.0
2,8305,Computer Science,University Of Potsdam,potsdam,English,4,0,bergholz-rehbrücke,6.0,2.0,7.05,62.0,bergholz-rehbrücke,0.0
3,4439,Computer Science,University Of Stuttgart,stuttgart,English,4,NaN,tübingen,49.0,3.0,30.18,723.0,tübingen,56.0
4,4439,Computer Science,University Of Stuttgart,stuttgart,English,4,NaN,heilbronn,38.0,2.0,40.56,723.0,heilbronn,171.0

In [32]:
merged_df = merged_df.drop(columns=['city'])

In [33]:
merged_df

,Id,CourseNameShort,Academy,City,Languages,ProgrammeDuration,TuitionFees,To,Time,Frequency,Distance (km),Jobs in City,Jobs in neighbour cities
0,8305,Computer Science,University Of Potsdam,potsdam,English,4,0,berlin,24.0,2.5,26.14,62.0,1062.0
1,8305,Computer Science,University Of Potsdam,potsdam,English,4,0,wildau,60.0,1.0,40.21,62.0,1.0
2,8305,Computer Science,University Of Potsdam,potsdam,English,4,0,bergholz-rehbrücke,6.0,2.0,7.05,62.0,0.0
3,4439,Computer Science,University Of Stuttgart,stuttgart,English,4,NaN,tübingen,49.0,3.0,30.18,723.0,56.0
4,4439,Computer Science,University Of Stuttgart,stuttgart,English,4,NaN,heilbronn,38.0,2.0,40.56,723.0,171.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,9595,Information Engineering,Technical University Of Munich,heilbronn,English,4,0,pforzheim,82.5,1.0,46.95,171.0,20.0
638,9595,Information Engineering,Technical University Of Munich,heilbronn,English,4,0,esslingen am neckar,55.0,1.0,44.90,171.0,7.0
639,3724,Forest Information Technology (FIT),Eberswalde University For Sustainable Development,eberswalde,English,4,0,berlin,34.0,1.0,45.12,0.0,1062.0
640,3724,Forest Information Technology (FIT),Eberswalde University For Sustainable Development,eberswalde,English,4,0,wildau¹,95.0,1.0,58.24,0.0,NaN
641,6981,Satellite Technology (SaTec),Julius-Maximilians-Universität Würzburg,würzburg,English,4,0,schweinfurt,24.0,2.0,36.44,62.0,11.0

In [34]:

final_df = merged_df[['Id','CourseNameShort','Academy','City','Jobs in City','Languages','ProgrammeDuration','TuitionFees','To','Time','Frequency','Distance (km)','Jobs in neighbour cities']]

In [35]:
final_df.head()

,Id,CourseNameShort,Academy,City,Jobs in City,Languages,ProgrammeDuration,TuitionFees,To,Time,Frequency,Distance (km),Jobs in neighbour cities
0,8305,Computer Science,University Of Potsdam,potsdam,62.0,English,4,0,berlin,24.0,2.5,26.14,1062.0
1,8305,Computer Science,University Of Potsdam,potsdam,62.0,English,4,0,wildau,60.0,1.0,40.21,1.0
2,8305,Computer Science,University Of Potsdam,potsdam,62.0,English,4,0,bergholz-rehbrücke,6.0,2.0,7.05,0.0
3,4439,Computer Science,University Of Stuttgart,stuttgart,723.0,English,4,NaN,tübingen,49.0,3.0,30.18,56.0
4,4439,Computer Science,University Of Stuttgart,stuttgart,723.0,English,4,NaN,heilbronn,38.0,2.0,40.56,171.0

In [36]:
final_df['To'].unique()

array(['berlin', 'wildau', 'bergholz-rehbrücke', 'tübingen', 'heilbronn',
       'nürtingen', 'reutlingen', 'pforzheim', 'esslingen am neckar',
       'geislingen an der steige', 'passau', 'cham', 'pfarrkirchen',
       'gütersloh', 'soest', 'bielefeld', 'lemgo', 'detmold', 'höxter',
       'deggendorf', 'marburg', 'gummersbach', 'gießen', 'sankt augustin',
       'köln', 'wuppertal', 'koblenz', 'düsseldorf', 'jülich',
       'rheinbach', 'remagen', 'kaiserslautern', 'frankfurt am main',
       'darmstadt', 'bad homburg vor der höhe', 'mainz', 'idstein',
       'weidenbach', 'worms', 'wiesbaden', 'amberg', 'ingolstadt',
       'bingen am rhein', 'mannheim', 'birkenfeld', 'landau in der pfalz',
       'zweibrücken', 'pirmasens', 'weingarten', 'riedlingen', 'ilmenau',
       'jena', 'erfurt', 'fulda', 'braunschweig', 'wolfenbüttel',
       'hildesheim', 'offenburg', 'furtwangen im schwarzwald',
       'villingen-schwenningen', 'gengenbach', 'chemnitz', 'erlangen',
       'hof', 'bamberg', 'kronach', 'kulmbach', 'coburg',
       'weiden in der oberpfalz', 'köthen', 'dessau-roßlau',
       'bernburg (saale)', 'möckern', 'karlsruhe', 'dieburg', 'kassel',
       'witzenhausen', 'siegen', 'friedberg (hessen)', 'wismar',
       'kamp-lintfort', 'dortmund', 'duisburg', 'essen', 'witten',
       'bochum', 'mönchengladbach', 'kleve', 'bremerhaven', 'oldenburg',
       'elsfleth', 'weimar', 'schmalkalden', 'paderborn', 'münster',
       'osnabrück', 'bayreuth', 'nürnberg', 'ansbach', 'freiberg',
       'tharandt', 'aschaffenburg', 'lüneburg', 'wedel (holstein)',
       'lübeck', 'bonn', 'freiburg im breisgau', 'kehl', 'schweinfurt',
       'steinfurt', 'potsdam', 'eberswalde', 'hannover', 'wernigerode',
       'wolfsburg', 'stuttgart', 'heidelberg', 'hamburg',
       'köthen (anhalt)', 'halle (saale)', 'garching b. münchen',
       'münchen', 'neuburg an der donau', 'aalen', 'neu-ulm', 'ulm',
       'feuchtwangen', 'leer (ostfriesland)', 'regensburg', 'weiden',
       'augsburg', 'freising', 'eichstätt', 'zwickau', 'konstanz',
       'bremen', 'köln (cologne)', 'burghausen¹', 'wildau¹'], dtype=object)

In [44]:
cities = pd.read_csv("../datasets/CityClassification.csv")
cities = cities[['Place','Population','Town Type']]
cities

                  Place Population    Town Type
0                Wildau     10,000   Small Town
1    Bergholz-Rehbrücke      8,000   Small Town
2             Nürtingen     40,000  Medium Town
3            Reutlingen   1,15,000         City
4             Pforzheim   1,25,000         City
..                  ...        ...          ...
143              Bochum    364,000         City
144        Braunschweig    250,000         City
145           Heilbronn    126,000         City
146            Lüneburg     77,000         City
147        Wolfenbüttel     52,000  Medium Town

[148 rows x 3 columns]

###City Population

In [45]:
cities['Place'] = cities['Place'].str.lower()

df = final_df.merge(cities, left_on='City', right_on='Place', how='left')

df = df.drop(columns=['Place'])

df = df.rename(columns={
    'Town Type': 'City_Type',
    'Population': 'City_Population'
})

df = df[['Id','CourseNameShort','Academy','City','City_Population','City_Type','Jobs in City','Languages','ProgrammeDuration','TuitionFees','To','Time','Frequency','Distance (km)','Jobs in neighbour cities']]

In [46]:
df

,Id,CourseNameShort,Academy,City,City_Population,City_Type,Jobs in City,Languages,ProgrammeDuration,TuitionFees,To,Time,Frequency,Distance (km),Jobs in neighbour cities
0,8305,Computer Science,University Of Potsdam,potsdam,"1,85,750",City,62.0,English,4,0,berlin,24.0,2.5,26.14,1062.0
1,8305,Computer Science,University Of Potsdam,potsdam,"1,85,750",City,62.0,English,4,0,wildau,60.0,1.0,40.21,1.0
2,8305,Computer Science,University Of Potsdam,potsdam,"1,85,750",City,62.0,English,4,0,bergholz-rehbrücke,6.0,2.0,7.05,0.0
3,4439,Computer Science,University Of Stuttgart,stuttgart,"6,32,865",City,723.0,English,4,NaN,tübingen,49.0,3.0,30.18,56.0
4,4439,Computer Science,University Of Stuttgart,stuttgart,"6,32,865",City,723.0,English,4,NaN,heilbronn,38.0,2.0,40.56,171.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,9595,Information Engineering,Technical University Of Munich,heilbronn,"126,000",City,171.0,English,4,0,pforzheim,82.5,1.0,46.95,20.0
638,9595,Information Engineering,Technical University Of Munich,heilbronn,"126,000",City,171.0,English,4,0,esslingen am neckar,55.0,1.0,44.90,7.0
639,3724,Forest Information Technology (FIT),Eberswalde University For Sustainable Development,eberswalde,"40,000",Small Town,0.0,English,4,0,berlin,34.0,1.0,45.12,1062.0
640,3724,Forest Information Technology (FIT),Eberswalde University For Sustainable Development,eberswalde,"40,000",Small Town,0.0,English,4,0,wildau¹,95.0,1.0,58.24,NaN
641,6981,Satellite Technology (SaTec),Julius-Maximilians-Universität Würzburg,würzburg,"1,27,810",City,62.0,English,4,0,schweinfurt,24.0,2.0,36.44,11.0

In [47]:
analysis = df.groupby('City')['City_Population'].apply(lambda x: x.isnull().sum())
print(analysis[analysis > 0])

Series([], Name: City_Population, dtype: int64)

In [48]:
cities['Place'] = cities['Place'].str.lower()

df = df.merge(cities, left_on='To', right_on='Place', how='left')

df = df.drop(columns=['Place'])

df

,Id,CourseNameShort,Academy,City,City_Population,City_Type,Jobs in City,Languages,ProgrammeDuration,TuitionFees,To,Time,Frequency,Distance (km),Jobs in neighbour cities,Population,Town Type
0,8305,Computer Science,University Of Potsdam,potsdam,"1,85,750",City,62.0,English,4,0,berlin,24.0,2.5,26.14,1062.0,"37,55,251",Metropolitan City
1,8305,Computer Science,University Of Potsdam,potsdam,"1,85,750",City,62.0,English,4,0,wildau,60.0,1.0,40.21,1.0,"10,000",Small Town
2,8305,Computer Science,University Of Potsdam,potsdam,"1,85,750",City,62.0,English,4,0,bergholz-rehbrücke,6.0,2.0,7.05,0.0,"8,000",Small Town
3,4439,Computer Science,University Of Stuttgart,stuttgart,"6,32,865",City,723.0,English,4,NaN,tübingen,49.0,3.0,30.18,56.0,"91,077",City
4,4439,Computer Science,University Of Stuttgart,stuttgart,"6,32,865",City,723.0,English,4,NaN,heilbronn,38.0,2.0,40.56,171.0,"126,000",City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,9595,Information Engineering,Technical University Of Munich,heilbronn,"126,000",City,171.0,English,4,0,pforzheim,82.5,1.0,46.95,20.0,"1,25,000",City
638,9595,Information Engineering,Technical University Of Munich,heilbronn,"126,000",City,171.0,English,4,0,esslingen am neckar,55.0,1.0,44.90,7.0,"95,000",City
639,3724,Forest Information Technology (FIT),Eberswalde University For Sustainable Development,eberswalde,"40,000",Small Town,0.0,English,4,0,berlin,34.0,1.0,45.12,1062.0,"37,55,251",Metropolitan City
640,3724,Forest Information Technology (FIT),Eberswalde University For Sustainable Development,eberswalde,"40,000",Small Town,0.0,English,4,0,wildau¹,95.0,1.0,58.24,NaN,NaN,NaN
641,6981,Satellite Technology (SaTec),Julius-Maximilians-Universität Würzburg,würzburg,"1,27,810",City,62.0,English,4,0,schweinfurt,24.0,2.0,36.44,11.0,"53,000",Medium Town

In [49]:
df = df.rename(columns={
    'Town Type': 'NeighbourCity_Type',
    'Population': 'NeighbourCity_Population'
})
df

,Id,CourseNameShort,Academy,City,City_Population,City_Type,Jobs in City,Languages,ProgrammeDuration,TuitionFees,To,Time,Frequency,Distance (km),Jobs in neighbour cities,NeighbourCity_Population,NeighbourCity_Type
0,8305,Computer Science,University Of Potsdam,potsdam,"1,85,750",City,62.0,English,4,0,berlin,24.0,2.5,26.14,1062.0,"37,55,251",Metropolitan City
1,8305,Computer Science,University Of Potsdam,potsdam,"1,85,750",City,62.0,English,4,0,wildau,60.0,1.0,40.21,1.0,"10,000",Small Town
2,8305,Computer Science,University Of Potsdam,potsdam,"1,85,750",City,62.0,English,4,0,bergholz-rehbrücke,6.0,2.0,7.05,0.0,"8,000",Small Town
3,4439,Computer Science,University Of Stuttgart,stuttgart,"6,32,865",City,723.0,English,4,NaN,tübingen,49.0,3.0,30.18,56.0,"91,077",City
4,4439,Computer Science,University Of Stuttgart,stuttgart,"6,32,865",City,723.0,English,4,NaN,heilbronn,38.0,2.0,40.56,171.0,"126,000",City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,9595,Information Engineering,Technical University Of Munich,heilbronn,"126,000",City,171.0,English,4,0,pforzheim,82.5,1.0,46.95,20.0,"1,25,000",City
638,9595,Information Engineering,Technical University Of Munich,heilbronn,"126,000",City,171.0,English,4,0,esslingen am neckar,55.0,1.0,44.90,7.0,"95,000",City
639,3724,Forest Information Technology (FIT),Eberswalde University For Sustainable Development,eberswalde,"40,000",Small Town,0.0,English,4,0,berlin,34.0,1.0,45.12,1062.0,"37,55,251",Metropolitan City
640,3724,Forest Information Technology (FIT),Eberswalde University For Sustainable Development,eberswalde,"40,000",Small Town,0.0,English,4,0,wildau¹,95.0,1.0,58.24,NaN,NaN,NaN
641,6981,Satellite Technology (SaTec),Julius-Maximilians-Universität Würzburg,würzburg,"1,27,810",City,62.0,English,4,0,schweinfurt,24.0,2.0,36.44,11.0,"53,000",Medium Town

In [51]:
NeighbourCityAnalysis = df.groupby('To')['NeighbourCity_Population'].apply(lambda x: x.isnull().sum())
print(NeighbourCityAnalysis[NeighbourCityAnalysis > 0])

To
burghausen¹    1
wildau¹        1
Name: NeighbourCity_Population, dtype: int64

In [52]:
df.to_csv('../datasets/FinalDF.csv', index=False)

print("CSV file saved to the specified location.")

CSV file saved to the specified location.

In [ ]:
final_df.info()

In [ ]:
grouped_analysis = final_df.groupby('To')['Jobs in neighbour cities'].apply(lambda x: x.isnull().sum())
print(grouped_analysis)

# EDA

## 1. Basic Info

In [ ]:
new_df.head()

In [ ]:
new_df.info()

In [ ]:
new_df.describe()

## 2. Missing Values

In [ ]:
!pip install seaborn

In [ ]:
print("\nMissing Values:")
missing_values = new_df.isnull().sum()
print(missing_values)

import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))
sns.heatmap(new_df.isnull(), cbar=False, cmap="viridis")
plt.title("Missing Values Heatmap")
plt.show()

## 3. Duplicates

In [ ]:
duplicates = new_df.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicates}")

## 4. Analyze Categorical Columns

In [ ]:
categorical_columns = new_df.select_dtypes(include=['object']).columns
print("\nCategorical Columns:")
print(categorical_columns)

for col in categorical_columns:
    print(f"\nColumn: {col}")
    print(new_df[col].value_counts())

## 5. Analyze Numerical Columns

In [ ]:
numerical_columns = new_df.select_dtypes(include=['int64', 'float64']).columns
print("\nNumerical Columns:")
print(numerical_columns)

for col in numerical_columns:
    plt.figure(figsize=(8, 4))
    sns.histplot(new_df[col], kde=True, bins=30)
    plt.title(f"Distribution of {col}")
    plt.show()

## 6. Correlation Analysis

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

numerical_df = new_df.select_dtypes(include=['float64', 'int64'])

correlation_matrix = numerical_df.corr()

plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap="coolwarm", fmt=".2f")
plt.title("Correlation Matrix")
plt.show()

## 7. Visualize Relationship

In [ ]:
plt.figure(figsize=(8, 6))
sns.scatterplot(data=new_df, x='Distance (km)', y='Jobs in City', hue='Academy')
plt.title("Distance vs Jobs in City by Academy")
plt.show()

## 9. Feature Engineering