In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../datasets/FinalDF.csv')
df

,Id,CourseNameShort,Academy,City,City_Population,City_Type,Jobs in City,Languages,ProgrammeDuration,TuitionFees,To,Time,Frequency,Distance (km),Jobs in neighbour cities,NeighbourCity_Population,NeighbourCity_Type
0,8305,Computer Science,University Of Potsdam,potsdam,"1,85,750",City,62.0,English,4,0,berlin,24.0,2.5,26.14,1062.0,"37,55,251",Metropolitan City
1,8305,Computer Science,University Of Potsdam,potsdam,"1,85,750",City,62.0,English,4,0,wildau,60.0,1.0,40.21,1.0,"10,000",Small Town
2,8305,Computer Science,University Of Potsdam,potsdam,"1,85,750",City,62.0,English,4,0,bergholz-rehbrücke,6.0,2.0,7.05,0.0,"8,000",Small Town
3,4439,Computer Science,University Of Stuttgart,stuttgart,"6,32,865",City,723.0,English,4,NaN,tübingen,49.0,3.0,30.18,56.0,"91,077",City
4,4439,Computer Science,University Of Stuttgart,stuttgart,"6,32,865",City,723.0,English,4,NaN,heilbronn,38.0,2.0,40.56,171.0,"126,000",City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,9595,Information Engineering,Technical University Of Munich,heilbronn,"126,000",City,171.0,English,4,0,pforzheim,82.5,1.0,46.95,20.0,"1,25,000",City
638,9595,Information Engineering,Technical University Of Munich,heilbronn,"126,000",City,171.0,English,4,0,esslingen am neckar,55.0,1.0,44.90,7.0,"95,000",City
639,3724,Forest Information Technology (FIT),Eberswalde University For Sustainable Development,eberswalde,"40,000",Small Town,0.0,English,4,0,berlin,34.0,1.0,45.12,1062.0,"37,55,251",Metropolitan City
640,3724,Forest Information Technology (FIT),Eberswalde University For Sustainable Development,eberswalde,"40,000",Small Town,0.0,English,4,0,wildau¹,95.0,1.0,58.24,NaN,NaN,NaN
641,6981,Satellite Technology (SaTec),Julius-Maximilians-Universität Würzburg,würzburg,"1,27,810",City,62.0,English,4,0,schweinfurt,24.0,2.0,36.44,11.0,"53,000",Medium Town

## University Details

In [7]:
uni = df[df['Academy'] == 'Technical University Of Munich']
university = uni[['Academy','CourseNameShort','City','City_Type','Jobs in City','ProgrammeDuration']].drop_duplicates()
university['City'] = university['City'].str.title()
university

,Academy,CourseNameShort,City,City_Type,Jobs in City,ProgrammeDuration
634,Technical University Of Munich,Information Engineering,Heilbronn,City,171.0,4

## Neighbour Details

In [9]:
uni = df[df['Academy'] == 'Technical University Of Munich']
neighbours = uni[['To','Time','Distance (km)','Jobs in neighbour cities','NeighbourCity_Population','NeighbourCity_Type']].drop_duplicates()
neighbours['To'] = neighbours['To'].str.title()
neighbours

,To,Time,Distance (km),Jobs in neighbour cities,NeighbourCity_Population,NeighbourCity_Type
634,Stuttgart,41.5,40.56,723.0,"6,32,865",City
635,Heidelberg,65.0,48.33,78.0,"1,62,273",City
636,Nürtingen,67.5,58.00,61.0,"40,000",Medium Town
637,Pforzheim,82.5,46.95,20.0,"1,25,000",City
638,Esslingen Am Neckar,55.0,44.90,7.0,"95,000",City

In [10]:
sort_order = ['Metropolitan City', 'City', 'Medium Town', 'Small Town']

neighbours['NeighbourCity_Type'] = pd.Categorical(neighbours['NeighbourCity_Type'], categories=sort_order, ordered=True)

neighbours['NeighbourCity_Population'] = neighbours['NeighbourCity_Population'].str.replace(',', '').astype(int)

neighbours = neighbours.sort_values(by=['NeighbourCity_Type', 'NeighbourCity_Population'], ascending=[True, False])
neighbours

,To,Time,Distance (km),Jobs in neighbour cities,NeighbourCity_Population,NeighbourCity_Type
634,Stuttgart,41.5,40.56,723.0,632865,City
635,Heidelberg,65.0,48.33,78.0,162273,City
637,Pforzheim,82.5,46.95,20.0,125000,City
638,Esslingen Am Neckar,55.0,44.90,7.0,95000,City
636,Nürtingen,67.5,58.00,61.0,40000,Medium Town